* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.franja {
    background-color: #52b7bd;
    margin-top: 150px;
    text-align: center;
}

.franja p {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 60px;
    padding: 20px;
}

.franja img {
    margin-top: -40px;
}